<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-teams-heading" jhiTranslate="esportsApp.teams.home.createOrEditLabel">Create or edit a Teams</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="esportsApp.teams.teamName" for="field_teamName">Team Name</label>
                    <input type="text" class="form-control" name="teamName" id="field_teamName"
                           formControlName="teamName"/>
                    <div *ngIf="editForm.get('teamName')!.invalid && (editForm.get('teamName')!.dirty || editForm.get('teamName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('teamName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="esportsApp.teams.captainName" for="field_captainName">Captain Name</label>
                    <input type="text" class="form-control" name="captainName" id="field_captainName"
                           formControlName="captainName"/>
                    <div *ngIf="editForm.get('captainName')!.invalid && (editForm.get('captainName')!.dirty || editForm.get('captainName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('captainName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="esportsApp.teams.teamLogo" for="field_teamLogo">Team Logo</label>
                    <div>
                        <img [src]="'data:' + editForm.get('teamLogoContentType')!.value + ';base64,' + editForm.get('teamLogo')!.value" style="max-height: 100px;" *ngIf="editForm.get('teamLogo')!.value" alt="teams image"/>
                        <div *ngIf="editForm.get('teamLogo')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('teamLogoContentType')!.value }}, {{ byteSize(editForm.get('teamLogo')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('teamLogo', 'teamLogoContentType', 'file_teamLogo')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_teamLogo" (change)="setFileData($event, 'teamLogo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="teamLogo" id="field_teamLogo"
                           formControlName="teamLogo"/>
                    <input type="hidden" class="form-control" name="teamLogoContentType" id="field_teamLogoContentType"
                           formControlName="teamLogoContentType" />
                </div>
                
                <div class="alert alert-success" *ngIf="selectedUsers.length === 5">
                    <span jhiTranslate="esportsApp.teams.maxUsers">All team members were selected</span>
                </div>

                <label jhiTranslate="esportsApp.teams.applicationUsers">Select all 5 team members:</label>
                <ng-select
                    #select
                    [items]="applicationusers"
                    [multiple]="true"
                    [maxSelectedItems]="5"
                    bindLabel="username"
                    [closeOnSelect]="false"
                    [(ngModel)]="selectedUsers"
                    [ngModelOptions]="{standalone: true}"
                    class="appUserSelect rounded">
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"/> {{ item.username }}
                        </ng-template>
                </ng-select>
                <br>

                <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="esportsApp.teams.tournaments" for="field_tournaments">Tournaments</label>
                        <select class="form-control" id="field_tournaments" name="tournaments" formControlName="tournaments">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="tournamentsOption.id === editForm.get('tournaments')!.value?.id ? editForm.get('tournaments')!.value : tournamentsOption" *ngFor="let tournamentsOption of tournaments; trackBy: trackById">{{ tournamentsOption.id }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="esportsApp.teams.matches" for="field_matches">Matches</label>
                        <select class="form-control" id="field_matches" name="matches" formControlName="matches">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="matchesOption.id === editForm.get('matches')!.value?.id ? editForm.get('matches')!.value : matchesOption" *ngFor="let matchesOption of matches; trackBy: trackById">{{ matchesOption.id }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving || selectedUsers.length !== 5" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
