<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organizers-heading" jhiTranslate="esportsApp.organizers.home.createOrEditLabel">Create or edit a Organizers</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="esportsApp.organizers.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="esportsApp.organizers.discord" for="field_discord">Discord</label>
                    <input type="text" class="form-control" name="discord" id="field_discord"
                           formControlName="discord"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="esportsApp.organizers.applicationUsers" for="field_applicationUsers">Application Users</label>
                    <select class="form-control" id="field_applicationUsers" name="applicationUsers" formControlName="applicationUsers">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="applicationUsersOption.id === editForm.get('applicationUsers')!.value?.id ? editForm.get('applicationUsers')!.value : applicationUsersOption" *ngFor="let applicationUsersOption of applicationusers; trackBy: trackById">{{ applicationUsersOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
