/* ==========================================================================
Main page styles
========================================================================== */
.homepage {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.btn {
  width: 250px;
}
