<div class="row justify-content-center">
    <div class="col-md-8" *ngIf="tournaments">

        <div class="tournament-logo" *ngIf="tournaments.tournamentLogo">
            <img class="img-fluid rounded mx-auto d-block" [src]="'data:' + tournaments.tournamentLogoContentType + ';base64,' + tournaments.tournamentLogo" alt="Tournament logo"/>
        </div>
        <br>
        <h2 class="text-center">{{ tournaments.name }}</h2>
        <br>

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>
        
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
            <a ngbNavLink jhiTranslate="esportsApp.tournaments.detail.details">Details</a>
            <ng-template ngbNavContent>
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-column">
                        <p class="mb-1" jhiTranslate="esportsApp.tournaments.status">Status</p>
                        <h5 class="mb-1">{{ statusTranslated }}</h5>
                    </li>
                    <li class="list-group-item d-flex flex-column">
                        <p class="mb-1" jhiTranslate="esportsApp.tournaments.currentParticipants">Participants</p>
                        <h5 class="mb-1">{{ tournaments.currentParticipants }} / {{ tournaments.maxParticipants }}</h5>
                    </li>
                    <li class="list-group-item d-flex flex-column">
                        <p class="mb-1" jhiTranslate="esportsApp.tournaments.gameType">Game Type</p>
                        <h5 class="mb-1" jhiTranslate="{{ 'esportsApp.Games.' + tournaments.gameType }}">{{ tournaments.gameType }}</h5>
                    </li>
                    <li class="list-group-item d-flex flex-column">
                        <p class="mb-1" jhiTranslate="esportsApp.tournaments.startDate">Start Date</p>
                        <h5 class="mb-1">{{ tournaments.startDate | date:'dd/MM/yyyy HH:mm' }}</h5>
                    </li>
                    <li class="list-group-item d-flex flex-column">
                        <p class="mb-1" jhiTranslate="esportsApp.tournaments.description">Description</p>
                        <h5 class="mb-1">{{ tournaments.description }}</h5>
                    </li>
                </ul>
            </ng-template>
            </li>
    
            <li [ngbNavItem]="2">
            <a ngbNavLink jhiTranslate="esportsApp.tournaments.teams">Teams</a>
            <ng-template ngbNavContent>    
                <div *ngIf="teams?.length === 0; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <div class="alert alert-warning" id="no-result">
                        <span jhiTranslate="esportsApp.tournaments.detail.teamsNotFound">No teams found</span>
                    </div>
                </ng-template>
                <ng-template #elseBlock>
                    <div class="container" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let teams of teams ;trackBy: trackId">
                                <div class="card mb-4 text-white border-light">
                                    <img class="card-img-top2" [src]="'data:' + teams.teamLogoContentType + ';base64,' + teams.teamLogo" data-holder-rendered="true" alt="">
                                    <div class="card-body bg-secondary">
                                        <div class="card-title"><h4>{{ teams.teamName }}</h4></div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="mb-1" jhiTranslate="esportsApp.tournaments.detail.captain">Captain</h5>
                                            <h5 class="mb-1">{{ teams.captainName }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
            </li>

            <li [ngbNavItem]="3">
                <a ngbNavLink jhiTranslate="esportsApp.tournaments.detail.bracket">Bracket</a>
                <ng-template ngbNavContent>
                    <h3 *ngIf="!tournamentStarted" class="text-center" jhiTranslate="esportsApp.tournaments.detail.noBracket">Bracket is currently unavailable</h3>
                    <div *ngIf="tournamentStarted">
                        <div class="alert alert-warning" id="no-result" *ngIf="matches?.length === 0">
                            <span jhiTranslate="esportsApp.matches.home.notFound">No matches found</span>
                        </div>
                        <h3>Round: {{ round }}</h3>
                        <div class="table-responsive" id="entities" *ngIf="matches && matches.length > 0">
                            <table class="table table-striped" aria-describedby="page-heading">
                                <thead>
                                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                                        <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                                        <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="esportsApp.matches.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                                        <th scope="col"  jhiSortBy="teamA"><span jhiTranslate="esportsApp.matches.teamA">Team A</span> <fa-icon icon="sort"></fa-icon></th>
                                        <th scope="col"  jhiSortBy="teamB"><span jhiTranslate="esportsApp.matches.teamB">Team B</span> <fa-icon icon="sort"></fa-icon></th>
                                        <th scope="col"  jhiSortBy="winner"><span jhiTranslate="esportsApp.matches.winner">Winner</span> <fa-icon icon="sort"></fa-icon></th>
                                        <th scope="col"  jhiSortBy="matchUrl"><span jhiTranslate="esportsApp.matches.matchUrl">Match Url</span> <fa-icon icon="sort"></fa-icon></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody infinite-scroll (scrolled)="loadPageM(pageM + 1)" [infiniteScrollDisabled]="pageM >= links['last']" [infiniteScrollDistance]="0">
                                    <tr *ngFor="let matches of matches ;trackBy: trackIdM">
                                        <td><a [routerLink]="['/matches', matches.id, 'view']">{{ matches.id }}</a></td>
                                        <td>{{ matches.startDate | date:'dd/MM/yyyy HH:mm' }}</td>
                                        <td>{{ matches.teamA }}</td>
                                        <td>{{ matches.teamB }}</td>
                                        <td>{{ matches.winner }}</td>
                                        <td>{{ matches.matchUrl }}</td>
                                        <td class="text-right">
                                            <div class="btn-group">
                                                <button type="submit"
                                                        [routerLink]="['/matches', matches.id, 'view']"
                                                        class="btn btn-info btn-sm">
                                                    <fa-icon icon="eye"></fa-icon>
                                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                                </button>
                    
                                                <button *ngIf="this.tournaments?.organizers?.applicationUsers?.id === this.user?.id" type="submit"
                                                        [routerLink]="['/matches', matches.id, 'edit']"
                                                        class="btn btn-primary btn-sm">
                                                    <fa-icon icon="pencil-alt"></fa-icon>
                                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </li>

            <li [ngbNavItem]="4">
                <a ngbNavLink jhiTranslate="esportsApp.tournaments.detail.contact">Contact</a>
                <ng-template ngbNavContent>
                    <ul class="list-group" *ngIf="tournaments.organizers">
                        <li class="list-group-item d-flex flex-column">
                            <p class="mb-1" jhiTranslate="esportsApp.tournaments.detail.email">Email</p>
                            <h5 class="mb-1">{{ tournaments.organizers.email }}</h5>
                        </li>
                        <li class="list-group-item d-flex flex-column">
                            <p class="mb-1" jhiTranslate="esportsApp.tournaments.detail.discord">Discord</p>
                            <a class="mb-1" href="{{ tournaments.organizers.discord }}">{{ tournaments.organizers.discord }}</a>
                        </li>
                    </ul>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <div class="row justify-content-center">
            <div class="back-btn">
                <button type="submit" (click)="previousState()" class="btn btn-info btn-lg">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>
            </div>

            <div *ngIf="this.tournaments?.organizers?.applicationUsers?.id === this.user?.id && !tournamentStarted" class="edit-btn">
                <button type="button" [routerLink]="['/tournaments', tournaments.id, 'edit']" class="btn btn-primary btn-lg">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="button" class="btn btn-primary btn-lg" (click)="startTournament()">
                    <fa-icon icon="play"></fa-icon>&nbsp;<span jhiTranslate="entity.action.start">Start tournament</span>
                </button>
            </div>

            <div *ngIf="this.tournaments?.organizers?.applicationUsers?.id !== this.user?.id && !this.participant" class="join-btn">
                <button type="button" id="jh-create-entity" (click)="joinTournament()" class="btn btn-primary btn-lg jh-create-entity create-tournaments">
                    <fa-icon icon="sign-in-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.join">Join Tournament</span>
                </button>
            </div>
        </div>    
    </div>
</div>